language: go

services:
  - docker

go:
  - 1.9

env:
  - NOMAD_ADDR=http://localhost:4646

before_install:
  - sudo apt-get update
  - sudo apt-get install unzip curl
  - curl https://releases.hashicorp.com/nomad/0.6.3/nomad_0.6.3_linux_amd64.zip -o nomad.zip
  - curl https://releases.hashicorp.com/consul/0.9.3/consul_0.9.3_linux_amd64.zip -o consul.zip
  - sudo unzip -o -d  /usr/local/bin ./nomad.zip
  - sudo unzip -o -d  /usr/local/bin ./consul.zip
  - sudo chmod +x /usr/local/bin/consul
  - sudo chmod +x /usr/local/bin/nomad
  - git clone https://github.com/nicholasjackson/certify-incubator.git $GOPATH/src/github.com/openfaas/certify-incubator

script:
  - echo "Build and Test"
  - make test
  - make build_docker
  - echo "Run Functional Tests"
  - ./startNomad.sh
  - sleep 10
  - nomad run faas.hcl
  - sleep 10
  - nomad status faas-nomadd
  - docker ps
  - cd $GOPATH/src/github.com/openfaas/certify-incubator && gateway_url=http://$(ip route get 1 | awk '{print $NF;exit}'):8080/ go test ./tests -v

