group: travis_latest
sudo: required
language: go

services:
  - docker

go:
  - "1.11"

env:
  global:
    - secure: Z69lHUit3l6f4mhM8A+5mrsuMW+LD00UBv9Nx2xwtqdqQOrDO9DviSKzqioDSztwz/rG+/oZ6OWasQSlZYkPDhFjtVbWaH2S/hKn86Uwd11NVNmWyEKgHt5CIUCXJ5hqUQuJb5U94c5U8Y8nIJUB4rxtcjpw88yN+0rsGTLaO/yodz/0tG7LCuHScTxmF0mfeUyvDW+y6uGXoxJaVENZE5zkAB/7nmWhUWT8bhJq68Y9uY0F4LkyR37N+m81yRDeQQ6UnCqPMAUoskqINApHKNoa0xaFQ1EOsBBFw+WOsrSzFsKPlbN2DliXFqQcLyhhoxGkoip8wT8OsVVcsI5JZVQ+afBPPya1z9e8/ngUIBL7T8xnsIW3zorPxSjRP3+qdnbMQeLVZddOeJRzZe6VTtCqDrdJBnrso3j9CYrZ/OJqCWbU/UZ0DvwkmsmWxTmxytJ+pjG0p1lV4+b/AkIYMpzX2/cqJChA7X+dYUiAHDp8MHQ4nIchbJUA9XZmcSRCaQYgyk5PnAoCUaZHihHqWmRI3iiSDBetlbP25E+lxtTnFT0pySynXpaUvWDVzFrIefNCJMiZFI+omw8mrxrfigV/QeWKKFsIqtBpfLJ8XzMJkAZGWhZcXcjGcESNkRoYIVD9HKgyuOI1bJnMyInT4mDDZwdWUJe7cqqO7Z/uZ6Q=
    - secure: XSGbatvifbM6EpC4oAaiEe/Hm00+xJl4RtqcVJOUET5gLevk6OtZnu2nEguuulHelJDrb69tv+1UOv54oSnSd8Kl1ag0sqyZ6lOgF5Xw1pvpYh5LGlQuMINUIRGFp/TS1DQ9Kx8KoG33c3AcQreq6uxu04dnRsjU4oX2xV5vKQbsBv+yJenG5dYE+d4awce69hjHFTh5T6v58lzM359SV76K5xj/58jKEuwI+XSS7cDNFO3tjUl7b0A1BdG+Y/SwEijGTCo926T1XqR0RxcRhpgdwhXNTktVEKVeEg4UK8e7qG5/8AyE8QtN2VslR2qbAVJXriupxOOz43/6URQy8LbKefBQPW9JuDeayM1ElYSwkF0uF0tnf9XEw8eMjblEQTG+fIdP9iMo9gjn/UKcNPwBR/+ymZG0UPNYHeJwZE1J16q9QJND2ouOcXKSBSy0IqWzpH1bJtvZqdrnL8u+mdYrKJG5x78aBMqMugd6lnv+ZwryWCV1xz+6ooWHti2G0151Ou3XHY4+sC4d6Vyynq4AJk5KSRl/5vhiDi7WRvgZ1ncEBJvMax8g+1THvlaRINOXUGZJwazUvoubaL1BYa5i0klPVrLpH4aes9CYz0lpc15+kT2zMDV27VJyxi786lMdKTUu95m1DQn2be7TvzE8QvnHaCjdfTf/ImkTnmY=
    - secure: sVpni9TT4B8+G3U3RWCCyewMS3/VwfTajuByFVyoLp1vR0eROo6uroKebjQXlMx4pYaDUn8tVCWM9G95TGg+vUvquTKI8ibdjhOvY/r6KR9LJ15m6UAOcyI+quGaQ523Sf3/l/L3LRx4ToVnClt25/HXasrg3DB30j3iZmzak6K5WPd2Vr3YuQPRa+BKIltVMBFOjdxQ9tR3U1xfMGv0Jb1pTEOzoanDgxk2gq9E5uosg9e6B/JLJURRHs0BBAxjEpoKArTzCdt5QoSXt1TqvxIzw54gnwwfguSIJd8Tig1XnGVlWBccrjDQfyAV8YdAFDrOIaZnzOV4XEZ4k8eWqgK/mpDvJIHdN1r5SLzzGpjQ4QAY1sNitqq4ti9k+lv0fdfbGPyIv5VqGDSb18aGJvT5/wIGKqwiQO8JepzvuhFFd+YpI8iOOzj95tPHv6VXHRZ3vs98ujHOfha4iKQwAjIsG1CXiE4ScUoDhQ8BiKGx6Ne76TnoKBZUrBDCX2YmeG8CmBCAVB8u49aFhiA1hEQ2D1MIs9m+/s+MthPi/KbvR5JM01mSnKji5+jP63ZDmrvtKqFUttIY1Uhye2cjcymxQp+0CbIN0jiUKCzXUcpFDw5XbSN81QmcYVRhJspNzn3+07h1CSvuBDLRi1jzpAUWLjbHSOHj2Fw1fo5qQ5M=
    - secure: M4yNvj/q7AXxpNhlBn7vKY1Elf1Px5OcsBXZxsbCZPEW+IimgDRUgWDvznC1jFI2udBRMTf0AOFU3NvTChkq4iCuUePo8ChCknYiWJbtnlt4MkNQ1T72Y3+NevNQWc0qLBXe17nrdqk9C2hFB1PgDTmBokOxy7RXt8xdL3KXaBm2IzHGqMDqTFA4hMhdsmJjzX+yctC3JksFr4lUL8Vx4hlPhHlpci/D+MTybWQhh5449vthMky6Pj3S9MrzOagVJLp40naVJLv2EpP8u0O3U/bJYhdyl3inxgf6nkf6YayurkYsUFH33dYjQ55f38VsorTsFpniO1lOPKJ09FYNBHegH6+mlqzSIp30HRllmp5u8Y8UOkI2p3aIAiCnBU7Ufelk+sSivJmZ74IsJcB8ibon6TLz8WnsWJBDeZiM5ENOcITFA9MVC/bRBXSHmD/wZiVl6yFKzLgXXE7snG6evgIqgEak0b2Iz2MBPrU+z4iXrc/K4Q2Qq996dA7cXSthkvpwXmlR5SkqV+jejQCAZO24dUWLQztYk1b/mpGSrEdGBR9v8yYEHgbwDddww8a8kEzBu/osw4TH0HvSlNtg1OpiGeYUO9Q/wga9NuxD5kTrzI4N63lOrEngjw3yg/hqQ0jNQ3U5M3fORpma68Zm4bCsKm1obKqlf+HLeJoZcJc=
    - secure: oFgBstMaao/VjA768hWtF0Jmoxfuou+YjklLrxlmWyc5ah7qmGSl687kOUQ2e0h8Z9t9mNGLPPHmwUzvUk6Dz2naOrPCqMidpLt6P5PEE7+bPU+ZNNqLkpG2Aq7Epz3etX1cSCMgcNxwTrF8yyFmHFcnbRAQTvTE0QAzNsugPvYFQB8RrH2/MQefrD7f5Cs5+sL9b+aHcTJg993idl3GVugyPyFuX+aFqo50biq3g0YVGzys7rhuGdiUhYSdKFnFEpmTvDcm/hHiSbQ9hOEW2vPpYb6NBdAk92pIiqYSkhaGZ0n0Ns5V1M7D5k+YZZ3VA0NfJ8Rg5b3EQ9mWglUBMajbtomMnCwe4Z0zQC9MsPLOGq2BfGDZ0uUAYMV30/0wSFKW46Wwn+w4a0ToxiZKrhp7ejrL/4NdLhXzb1U1pcY90T80JInRxp5NkctuYz3fjzUsihh77RE/c0k9tygXcjnFwshXrp3ruxk1ocXkZIqoawsRb6AdbiHs61PQpmUS29drZDSqkhwDLxkRFxYV115KWbRxp7YvZhL0ctCWdChdyU8ZJjfZtJpUd/kswlLLl6xj1lLosO1Y7Mv7jdJ2IK2ZtVS/UWubLWi2ZwBlXqUkJkoJtfR4+CAJGbybJGf85fxZZEAmtP9vuPZll3ekE8d7+pXz6zr5L9XEFOMdjS4=
    - secure: IiyQQxv3U77Yy8Ny73CN0H5YVL9aV7OnZ2LuuRSzcvKRrP3XOQG1m5WI0HU+Q+RutSvyTf1eVqxMOcJbu/NA9403oB7Zlv18etUUNGgQlOccMW3SzB8xnIGAKQzDuceJBoGiVWNXSh+ZYvFtkYtVnAHFtaoWXDvYMCieX9UMFPwqC9PN9DRFbvV9vaWLrXvjaD27Y7zrss9T9LrvyouLyCDEDRS8FQ1QeOppRzs5qXU/8EMHj49KvC6ZkyLT5KYvWV750qj/ESbvWWoW99dLZwvUO2BmKarkCtY8yOcVymge1NbsXFRQ48kXQoZyJPvrJ+F92oBvd44DGH/jH9I6kn89DwldjDip05baSuE4BkaQfl0DBrYud+tyhlfudw9dL03//qMnbZ3FV++00sZ/HkmbTfV8kx2QfZHuqrLvyHKpFfy+eqYolGJuBeTHxd2lCL0emPI40+UgUbJcaUy1LWTQk99saTnCgeRJkSUFFEpimaVQ9//hEN140O3JyCXI38s9j1LEzm7k/u32dwI4dRHKE9KUjkybn7ZUF0MGmXSrOtgc/IN01MPLdXkIKHIK4kjAuOHeJJxrjruk0VuDtnYC3ZK61Te1AwFeg2EwKhcwoyiWmTtra+b15bdeUVfVJ3xbzn3Eaf9EZCZC3WriVXW0u/aq2TPCqMJrzc27ylI=
    - secure: ITko2v7WO2eRAw+NhMesoTMFzuDY1YrubyNGN6BPZxpfssAbalnw1XT59L5h1j1lggCpA6nyWvTJ12vCl1kiFD+cbpuJjMinX4TcgRNt81Ybm0u4H4NctkgyHJHHGZ1QxPayStV4m6pJHlBiIJFvoP2tHN4hrYtn5HqhZipefh8XFbBmV7DqnVS4iZLOkNG3T8yZvAxeJVg9tS5gqHfu2FH4CJb4JF1LgTlWx076vi6qEQ7W9rpu/+cwiawSSOgWbMOymdDRipSDaqltc0Yq36rBCOlDOo6pDvaw0RC+XYMmcckd1DuH7JtSAzZmc01pACt30o1VLpStpfad7S4EDzflA+AsOfzY6Y2ZYN4EsgpVQ2vh+529I2mYTr7CDdfiTrxxJgsCHzQpEB3TlsijTtpQjnPYrMgBUnRZ8XnlzD5AToSheuKDqanPWx06XiN9POy0esTLlakwWCcl2YHDgsYLQSOBD52UuTU3b7cK0Jhc0WvahcDP2kr7ysp4UMQpgIbUGb5294LUHWjweaJSDwwPj52GQBDSn/PqaUoocMPMBc813NLQ0maiFHNAVlAPdnCFOmHsIfilDM8wM9OuJIixAGzHPvofwh+DXUqY5SeCLCUeT/9BAkBwY2vzqIgU+cQ+HcYNQDeJXp87SN3htmYTFbQtIBpxDSK5nk5mDmg=

before_install:
  - sudo apt-get update
  - sudo apt-get install unzip curl
  - curl https://releases.hashicorp.com/nomad/0.7.1/nomad_0.7.1_linux_amd64.zip -o nomad.zip
  - curl https://releases.hashicorp.com/consul/1.0.0/consul_1.0.0_linux_amd64.zip -o consul.zip
  - sudo unzip -o -d  /usr/local/bin ./nomad.zip
  - sudo unzip -o -d  /usr/local/bin ./consul.zip
  - sudo chmod +x /usr/local/bin/consul
  - sudo chmod +x /usr/local/bin/nomad
  - make deps
  - git clone -b additions https://github.com/nicholasjackson/certify-incubator.git $GOPATH/src/github.com/openfaas/certify-incubator
  - docker run -d -p 5000:5000 --restart=always --name registry registry:2
  - go get github.com/wadey/gocovmerge

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - echo "Build and Test"
  - make test
  - make build_all
  - docker tag quay.io/nicholasjackson/faas-nomad:latest localhost:5000/faas-nomad:latest
  - docker push localhost:5000/faas-nomad:latest
  - echo "Run Functional Tests"
  - source ./startNomad.sh
  - nomad run nomad_job_files/faas_travis.hcl || true
  - sleep 10
  - nomad status faas-nomadd
  - docker ps
  - cd $GOPATH/src/github.com/openfaas/certify-incubator && gateway_url=$FAAS_GATEWAY go test ./tests -v
  - nomad status
  - nomad logs -job faas-nomadd nomadd
  - nomad logs -stderr -job faas-nomadd nomadd

after_script:
  - make cover
  - ./cc-test-reporter after-build -t gocov --exit-code $TRAVIS_TEST_RESULT

after_success: 
  - cd $GOPATH/src/github.com/hashicorp/faas-nomad
  - pwd
  - ./travis_deploy.sh
