[[constraint]]
  name = "github.com/openfaas/faas"
  version = "0.8.12"

[[constraint]]
  name = "github.com/openfaas/faas-provider"
  version = "0.7.1"

[[constraint]]
  name = "github.com/hashicorp/nomad"
  version = "0.7.0"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.1.4"

[prune]
  go-tests = true
  unused-packages = true
